In [1]:
import sys
sys.path.append("..")

In [2]:
from src.features import Features
import pandas as pd
import numpy as np

f = Features(metadata_path="../data/raw/metadata/UrbanSound8K.csv",
             audio_files_path="../data/raw/audio",
             save_training_path="../data/processed", 
             workers=4,
             folds=5)

training_dataframe = f.get_training_dataframe()

  0%|          | 0/873 [00:00<?, ?it/s]

In [3]:
training_dataframe.head()

,class,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_122,f_123,f_124,f_125,f_126,f_127,f_128,f_129,f_130,f_131
0,3.0,-512.498474,-193.035919,-471.498260,-423.140137,8.855486,209.710297,58.568165,84.890961,-27.199711,...,0.586312,0.569992,0.000817,1.0,0.668730,0.590488,0.000307,0.401735,0.001801,0.058148
1,3.0,-516.342468,-195.161255,-390.651184,-398.047546,12.227291,208.622833,137.347488,115.301071,-28.730869,...,0.366046,0.416715,0.000619,1.0,0.338531,0.381144,0.000419,0.394381,0.033299,0.064936
2,3.0,-509.045288,-175.337311,-499.099945,-434.994690,8.133056,200.961060,20.736362,65.422974,-38.902744,...,0.553874,0.570772,0.010451,1.0,0.636192,0.618060,0.000347,0.411176,0.000899,0.035240
3,3.0,-383.990295,-235.012436,-314.609833,-312.848206,107.968903,202.930573,138.650681,143.507858,-77.032585,...,0.252512,0.302430,0.003947,1.0,0.281157,0.328857,0.005858,0.101406,0.013054,0.026804
4,6.0,-672.886353,-140.951019,-473.933594,-429.136322,0.000000,199.151398,157.876801,145.625961,-47.030399,...,0.754003,0.714706,0.115228,1.0,0.664143,0.649001,0.000004,0.109069,0.009328,0.020666

In [4]:
f.save_training_set(training_dataframe)